
body {
    background-image: url("Grid.png");
}

h1, p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    display:block;
    margin:auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    display:block;
    margin:auto;
}